h1 {
    color: DarkRed;
  }
  .horse{
    color:blue
  }
  .riding{
    max-width:200%;
      border-style: dashed;
    border-width: 5px;
    border-color: DarkRed;
  }
  .cso{
    max-width:100%;
  }
  .cso1{
    max-width:100%;
  }
  .compet{
    color:orange  
  }
  h2{
    color:MediumSlateBlue
  }
  body{
    background-color:grey;
  }